@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");
.navbar *,
.userlogin *, .navbar *::after,
.userlogin *::after, .navbar *::before,
.userlogin *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html.overflow,
html.overflow body {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.navbar *,
.userlogin * {
  font-family: "Nunito", sans-serif;
  color: #686868;
}

.icon::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 24px;
  height: 24px;
}

.icon-hamburgersearch::after {
  background-image: url("../images/embed/hamburger.svg");
}

.icon-caret::after {
  background-image: url("../images/embed/arrow.svg");
  width: 10px;
  height: 6px;
  margin-left: 5px;
  margin-top: -3px;
}

.icon-logout::after {
  background-image: url("../images/embed/log-out.svg");
  width: 20px;
  height: 18px;
}

.icon-user::after {
  background-image: url("../images/embed/user.svg");
  width: 14px;
  height: 16px;
  margin-right: 5px;
  margin-top: -3px;
}

.navbar {
  background-color: #ffffff;
  box-shadow: 0 2px 2px 0 rgba(48, 48, 48, 0.1);
}

.navbar.-desktop .navbar-logo, .navbar.-desktop .navbar-top-right {
  width: 300px;
}

.navbar.-desktop .navbar-logo img {
  height: 60px;
}

.navbar.-desktop .navbar-top {
  padding-top: 30px;
  padding-bottom: 30px;
}

.navbar.-desktop .navbar-bottom-overflow {
  flex-flow: wrap;
  justify-content: space-between;
}

.navbar.-desktop .navbar-bottom-overflow li a {
  font-size: 16px;
}

.navbar.-desktop .navbar-bottom-overflow li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  background-color: #f28b3c;
  transition: width .3s ease;
}

.navbar.-desktop .navbar-bottom-overflow li.active a::after {
  width: 100%;
}

.navbar-logo img {
  object-fit: contain;
  max-width: 100%;
  height: 36px;
}

.navbar-hamburger {
  margin-left: -15px;
}

.navbar-hamburger-click {
  display: flex;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 60px;
}

.navbar-hamburger-click .icon-hamburgerclose {
  display: none;
}

.navbar-popup {
  display: none;
}

.navbar-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
}

.navbar-top-left {
  display: flex;
  align-items: center;
  flex: 1;
}

.navbar-top-left .navbar-gcse {
  width: 480px;
  margin-left: auto;
  margin-right: auto;
}

.navbar-top-right {
  display: flex;
  justify-content: flex-end;
}

.navbar-bottom-overflow {
  display: flex;
  flex-flow: nowrap;
  overflow-y: scroll;
}

.navbar-bottom-overflow li {
  padding-left: 8px;
  padding-right: 8px;
}

.navbar-bottom-overflow li:first-child {
  padding-left: 15px;
}

.navbar-bottom-overflow li:last-child {
  padding-right: 15px;
}

.navbar-bottom-overflow li a {
  position: relative;
  padding-top: 8px;
  padding-bottom: 15px;
  white-space: nowrap;
  display: block;
}

.navbar-bottom-overflow li a:hover {
  color: #f28b3c;
}

.userlogin {
  position: relative;
}

.userlogin.collapsed .userlogin-list {
  pointer-events: auto;
  opacity: 1;
  transform: scale(1);
}

.userlogin.collapsed + .userlogin-overlay {
  opacity: 1;
}

.userlogin-popup {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99999;
  opacity: 0;
  pointer-events: none;
  transition: opacity .5s ease;
  background-color: #ffffff;
  transform: translate3d(0, 0, 0);
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
}

.userlogin-popup.-is-visible {
  opacity: 1;
  pointer-events: auto;
}

.userlogin-popup-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
}

.userlogin-popup-inner iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

.userlogin-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translate3d(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 99999;
  opacity: 0;
  pointer-events: none;
  transition: .3s ease;
}

.userlogin-in {
  border: 1px solid #f28b3c;
  color: #f28b3c;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 32px;
  border-radius: 50px;
}

.userlogin-in:hover {
  background-color: #f28b3c;
  color: #ffffff;
}

.userlogin-in:hover .icon-user::after {
  background-image: url("../images/embed/user-white.svg");
}

.userlogin-dash {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: -15px;
}

.userlogin-dash--profile {
  margin: 0;
  background-color: #f28b3c;
  border: 1px solid #f28b3c;
  color: #ffffff;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.userlogin-dash--profile::after {
  position: absolute;
  content: attr(data-name);
}

.userlogin-dash--profile img {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.userlogin-dash--name {
  display: none;
  font-size: 15px;
  font-weight: 600;
  margin-left: 5px;
}

.userlogin-list {
  list-style: none;
  padding: 8px 15px;
  position: absolute;
  width: 200px;
  right: 0;
  background-color: #ffffff;
  box-shadow: 0 4px 20px 0 rgba(53, 53, 53, 0.1);
  border-radius: 4px;
  z-index: 999999;
  margin: 0;
  margin-top: 10px;
  pointer-events: none;
  opacity: .3;
  transform: scale(0);
  transform-origin: top right;
  transition: .3s ease;
}

.userlogin-list::before {
  content: "";
  position: absolute;
  right: 12px;
  top: -6px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  z-index: 999999;
}

.userlogin-list li {
  padding: 8px 0;
  border-top: 1px solid #efefef;
}

.userlogin-list li:first-child {
  border-top: 0;
}

.userlogin-list li a {
  font-size: 15px;
  font-weight: 600;
}

.userlogin-list li a.logout {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.userlogin-list li a:hover {
  color: #f28b3c;
}

.userlogin.-merdeka .userlogin-click--profile {
  border-color: #cc0001;
  background-color: #cc0001;
}

@media (min-width: 767px) {
  .userlogin-click--name {
    display: block;
  }
  .userlogin-popup {
    background-color: rgba(0, 0, 0, 0.4);
  }
}
