@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import '../assets/plugins/notification/css/notification.min';
@import 'components/pickout.min';
@import 'components/picker.min';
@import '../assets/plugins/nestable/css/nestable.min.css';
/* @import 'main'; */

.navi .navi-item.active {
    background-color: #F3F6F9;
    color: #3699FF;
  }
