@font-face {
  font-family: Acumin Pro;
  font-style: normal;
  font-weight: normal;
  src: url("components/acuminpro/Acumin-RPro.woff") format("woff");
}

@font-face {
  font-family: Acumin Pro;
  font-style: italic;
  font-weight: normal;
  src: url("components/acuminpro/Acumin-ItPro.woff") format("woff");
}

@font-face {
  font-family: Acumin Pro;
  font-style: normal;
  font-weight: 600;
  src: url("components/acuminpro/Acumin-Semibold.woff") format("woff");
}

@font-face {
  font-family: Acumin Pro;
  font-style: normal;
  font-weight: 700;
  src: url("components/acuminpro/Acumin-BdPro.woff") format("woff");
}

@font-face {
  font-family: Acumin Pro;
  font-style: italic;
  font-weight: 700;
  src: url("components/acuminpro/Acumin-BdItPro.woff") format("woff");
}

h1, h2, h3, h4, h5, h6, p {
  font-family: "Acumin Pro", sans-serif;
  font-weight: 700;
  line-height: 1.4em;
  margin: 0;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, p small {
  font-size: 70%;
  font-weight: normal;
  line-height: normal;
  letter-spacing: normal;
  text-transform: none;
}

p {
  line-height: 1.6em;
  font-weight: normal;
}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

.input-group .form-control,
.input-group .form-btn {
  display: table-cell;
  vertical-align: middle;
}

.list-inline li {
  display: inline-block;
  vertical-align: middle;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix::after, .list-unstyled::after, .clearfix::before, .list-unstyled::before {
  display: table;
  content: '';
}

.clearfix::after, .list-unstyled::after {
  clear: both;
}

.list-inline, .list-unstyled, .list-flex, .list-counter {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list-inline {
  margin-bottom: -5px;
}

.list-inline li {
  margin-right: 5px;
  margin-bottom: 5px;
}

.list-flex {
  display: flex;
  flex-flow: wrap;
  align-items: flex-start;
}

.list-counter {
  counter-reset: section;
}

.list-counter li {
  position: relative;
  padding-left: 24px;
}

.list-counter li::before {
  counter-increment: section;
  content: counter(section) ".";
  position: absolute;
  top: 0px;
  left: 0px;
}

button {
  border: 0;
  cursor: pointer;
}

textarea {
  resize: none;
  box-shadow: none;
}

textarea.form-control {
  height: auto;
  -webkit-appearance: none;
}

a {
  text-decoration: none;
  outline: none;
  color: inherit;
  transition: .5s ease;
}

img {
  vertical-align: middle;
  border: 0;
}

img.max-width {
  max-width: 100%;
}

figure {
  margin: 0;
  padding: 0;
}

figure > a {
  display: block;
}

input[type="text"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  box-shadow: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
}

*:focus {
  outline: 0;
}

address {
  color: #333333;
  font-style: normal;
}

.input-group {
  display: table;
  width: 100%;
}

.input-group .form-control,
.input-group .form-btn {
  font-family: "Acumin Pro", sans-serif;
}

.input-group .form-control {
  padding: 0;
  font-size: 16px;
  height: 40px;
}

.input-group .form-btn {
  width: 1%;
  white-space: nowrap;
}

.input-group .form-btn-button {
  height: 40px;
  background-color: transparent;
  border: 0;
  padding: 0;
  padding-left: 15px;
  cursor: pointer;
}

html.overflow, html.nav-overflow {
  overflow: hidden;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font: 14px "Acumin Pro", sans-serif;
  color: #333333;
  -webkit-text-size-adjust: 100%;
  position: relative;
  line-height: normal;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  z-index: 2;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.icon {
  display: inline-block;
  vertical-align: middle;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.icon-logo {
  background-image: url("../images/liputan-6-id-logo@2x.png");
  width: 160px;
  height: 30px;
}

.icon-channel {
  width: 25px;
  height: 25px;
}

.icon-channel.-liputan {
  background-image: url("../images/sites/liputan-6-icon@3x.png");
}

.icon-channel.-kapanlagi {
  background-image: url("../images/sites/kapanlagi-icon@2x.png");
}

.icon-channel.-dream {
  background-image: url("../images/sites/dream-icon@2x.png");
}

.icon-channel.-bolacom {
  background-image: url("../images/sites/bolacom-icon@2x.png");
}

.icon-channel.-bolanet {
  background-image: url("../images/sites/bolanet-icon@2x.png");
}

.icon-channel.-fimela {
  background-image: url("../images/sites/fimela-icon@2x.png");
}

.icon-channel.-otosia {
  background-image: url("../images/sites/otosia-icon@2x.png");
}

.icon-channel.-merdeka {
  background-image: url("../images/sites/merdeka-icon@2x.png");
}

.icon-thanks {
  border-radius: 50%;
  background-color: #ffefeb;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  margin-left: -20px;
  margin-top: -3px;
  position: relative;
}

.icon-thanks::after {
  content: "";
  position: absolute;
  left: 7px;
  top: 4px;
  width: 6px;
  height: 10px;
  border-bottom: 2px solid #ff3300;
  border-right: 2px solid #ff3300;
  transform: rotate(45deg);
}

.btn, .picker-footer .picker-confirm {
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 52px;
  background-color: transparent;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  transition: .3s ease;
}

.btn-submit, .picker-footer .picker-confirm {
  font-size: 16px;
  font-weight: 700;
  background-color: #ff3300;
  color: #FFFFFF;
}

.btn-submit:hover, .picker-footer .picker-confirm:hover {
  background-color: #ff471a;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);
}

.btn-cancel {
  font-size: 16px;
  width: auto;
  height: 30px;
  color: #ff3300;
}

.btn-cancel:hover {
  color: #ff704d;
}

.btn-disabled {
  pointer-events: none;
  background-color: #aa9f9f;
}

.btn-api {
  position: relative;
  border: 1px solid #999999;
  color: #8b8b8b;
  margin-top: 8px;
}

.btn-api::before {
  content: "";
  display: block;
  position: absolute;
  left: 20px;
  width: 24px;
  height: 18px;
  background-image: url("../images/google@2x.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.btn-api:first-child {
  margin-top: 0;
}

.btn-api:hover {
  background-color: #fae3e5;
  border-color: #fae3e5;
}

.btn-api--facebook {
  border-color: #507cc0;
  color: #507cc0;
}

.btn-api--facebook::before {
  background-image: url("../images/fb@3x.png");
}

.btn-api--facebook:hover {
  background-color: #e6ecf6;
  border-color: #e6ecf6;
}

.form.disabled {
  pointer-events: none;
}

.form.disabled .btn-submit, .form.disabled .picker-footer .picker-confirm, .picker-footer .form.disabled .picker-confirm {
  background-color: #aa9f9f;
}

.form.disabled .trigger + .link {
  pointer-events: auto;
}

.form-box {
  margin-top: 30px;
}

.form-box:first-child {
  margin-top: 0;
}

.form-box-title {
  font-size: 20px;
  font-weight: 600;
  color: #686868;
  text-align: center;
  margin-bottom: 20px;
  line-height: 1.6em;
}

.form-box-title small {
  color: #8b8b8b;
  display: block;
  font-size: 14px;
  margin-top: 8px;
  line-height: 1.6em;
}

.form-box-title.sm {
  font-size: 14px;
}

.form-box-title .line {
  position: relative;
  display: block;
}

.form-box-title .line::after {
  content: "";
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  height: 1px;
  background-color: #e2e2e1;
}

.form-box-title .line small {
  position: relative;
  background-color: #FFFFFF;
  z-index: 2;
  display: inline-block;
  vertical-align: top;
  padding-left: 15px;
  padding-right: 15px;
}

.form-control {
  border: 1px solid #e2e2e1;
  width: 100%;
  height: 52px;
  border-radius: 8px;
  padding: 8px 10px;
  font-size: 14px;
  -webkit-appearance: none;
}

.form-control[type=password] {
  padding-right: 60px;
}

.form-text {
  font-size: 14px;
  color: #8b8b8b;
}

.form-text a:hover {
  color: #ff3300;
}

.form-text a.link {
  color: #ff3300;
  font-weight: 600;
}

.form-text a.link:hover {
  color: #ff471a;
}

.form-button {
  display: flex;
  flex-flow: column;
  text-align: center;
  align-items: center;
}

.form-button .btn, .form-button .picker-footer .picker-confirm, .picker-footer .form-button .picker-confirm {
  margin-top: 10px;
}

.form-button .btn:first-child, .form-button .picker-footer .picker-confirm:first-child, .picker-footer .form-button .picker-confirm:first-child {
  margin-top: 0;
}

.form-button .form-text {
  margin-top: 15px;
}

.form-group {
  position: relative;
  margin-bottom: 20px;
}

.form-group:last-child {
  margin-bottom: 0;
}

.form-group label.error {
  font-size: 10px;
  position: absolute;
  bottom: -20px;
  right: 0;
  color: #dc3545;
  visibility: hidden;
}

.form-group.has-error label.error {
  visibility: visible;
}

.form-group.has-error .form-control {
  border-width: 2px;
  border-color: #dc3545;
}

.form-group.has-error .form-label {
  color: #dc3545 !important;
}

.form-group-code .pincode-hidden {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
}

.form-group-code .pincode-container {
  position: relative;
  display: flex;
  margin-left: -5%;
  margin-bottom: 5%;
}

.form-group-code .pincode-container .form-control {
  width: 20%;
  margin-left: 5%;
  text-align: center;
  font-size: 35px;
}

.form-group-code .pincode-container .form-control::placeholder {
  color: #333333;
  opacity: 1;
}

.form-group-field {
  position: relative;
}

.form-group-field.is-focused .form-label {
  top: -6px;
  font-size: 11px;
  color: #8b8b8b;
}

.form-group-field.show .form-visibilitypass {
  opacity: 1;
  pointer-events: auto;
}

.form-group-field .form-label {
  position: absolute;
  top: 18px;
  left: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #FFFFFF;
  transition: .3s ease;
  pointer-events: none;
}

.form-group-field .form-visibilitypass {
  position: absolute;
  top: 50%;
  right: 20px;
  background-image: url("../images/show-password@2x.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 20px;
  height: 18px;
  cursor: pointer;
  margin-top: -9px;
  opacity: 0;
  pointer-events: none;
  transition: opacity .3s ease;
}

.form-group-field .form-visibilitypass::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 1px;
  height: 120%;
  margin-top: -10%;
  background-color: #999999;
  transform: rotate(45deg);
  opacity: 0;
  transition: opacity .3s ease;
}

.form-group-field .form-visibilitypass.slash::after {
  opacity: 1;
}

.form-group-spacebetween {
  display: flex;
  justify-content: space-between;
}

.form-check {
  position: relative;
}

.form-check-input {
  position: absolute;
  opacity: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.form-check-input:checked ~ .form-check-label::before {
  background-color: #ffefeb;
  border-color: #ffefeb;
}

.form-check-input:checked ~ .form-check-label::after {
  transform: rotate(45deg) scale(1);
}

.form-check-label {
  color: #8b8b8b;
  position: relative;
  display: block;
  cursor: pointer;
}

.form-check-label::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  border: 1px solid #e2e2e1;
  border-radius: 4px;
  margin-right: 8px;
  margin-top: -3px;
  transition: .3s ease;
}

.form-check-label::after {
  content: "";
  position: absolute;
  left: 7px;
  top: 2px;
  width: 6px;
  height: 10px;
  border-bottom: 2px solid #ff3300;
  border-right: 2px solid #ff3300;
  transform: rotate(45deg) scale(0);
  transition: transform .3s ease;
}

@keyframes pulseX {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes pulseX {
  0% {
    -webkit-transform: scale(0.9);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 1;
  }
}

.pulseX, .section-sso {
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: pulseX;
  -webkit-animation-name: pulseX;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

.main {
  min-height: 100%;
}

.section-sso {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  padding: 15px;
}

.section-sso .container {
  flex: 1;
  padding: 40px 10px;
  max-width: 500px;
  background-color: #FFFFFF;
  padding-bottom: 60px;
}

.section-sso-body {
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
}

.section-sso-top {
  text-align: center;
  margin-bottom: 30px;
}

.section-sso-top-channel {
  margin-top: 10px;
}

.section-sso-top-channel-title {
  font-weight: 500;
  margin-bottom: 10px;
}

.section-sso-top-channel-list {
  justify-content: center;
  align-items: center;
}

.section-sso-top-channel-list li {
  margin-left: 10px;
}

.section-sso-top-channel-list li:first-child {
  margin-left: 0;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 0;
  pointer-events: none;
  transition: opacity .5s ease;
  z-index: 11;
}

.popup.is-visible {
  pointer-events: auto;
  opacity: 1;
}

.popup.is-visible .popup-inner {
  transform: scale(1);
}

.popup-inner {
  min-height: 100%;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0.8);
  transition: transform .5s ease;
}

.popup-inner-box {
  position: relative;
  flex: 1;
  background-color: #FFFFFF;
  max-width: 360px;
  padding: 20px;
  border-radius: 12px;
}

.popup-inner-box-body h6 {
  font-size: 16px;
  text-align: center;
  margin-bottom: 15px;
}

.popup-inner-box-body h6 small {
  font-size: 100%;
  display: block;
  font-weight: normal;
  margin-top: 5px;
}

.popup-inner-box-body .form-edit .form-box-title {
  padding-top: 30px;
  font-weight: normal;
  text-align: center;
}

.header {
  background-color: #FFFFFF;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;
}

.header::after {
  content: "";
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 8px 0 rgba(52, 52, 52, 0.08);
  pointer-events: none;
}

.header-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-body-right {
  margin-right: -15px;
}

.header-body-right .hamburger {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 15px;
  padding-right: 15px;
  height: 50px;
}

.header-body-right .hamburger.collapsed::after {
  background-image: url("../images/close-button-menu.svg");
}

.header-body-right .hamburger::after {
  content: "";
  display: block;
  background-image: url("../images/hambrgr-menu.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 22px;
  height: 18px;
}

.header-nav {
  background-color: #FFFFFF;
  position: fixed;
  z-index: 9;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity .5s ease;
}

.header-nav.open {
  opacity: 1;
  pointer-events: auto;
}

.header-nav-list li:first-child a {
  padding-top: 30px;
}

.header-nav-list li:last-child a {
  padding-bottom: 30px;
}

.header-nav-list li a {
  display: block;
  font-size: 16px;
  padding: 15px;
}

.header-nav-list li a::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 25px;
  height: 25px;
  margin-right: 15px;
  margin-top: -3px;
}

.header-nav-list li a.liputan::before {
  background-image: url("../images/liputan-6@2x.png");
}

.header-nav-list li a.kapanlagi::before {
  background-image: url("../images/kl@2x.png");
}

.header-nav-list li a.dream::before {
  background-image: url("../images/dream@2x.png");
}

.header-nav-list li a.bolacom::before {
  background-image: url("../images/bolacom@2x.png");
}

.header-nav-list li a.bolanet::before {
  background-image: url("../images/bolanet@2x.png");
}

.header-nav-list li a.fimela::before {
  background-image: url("../images/fimela@2x.png");
}

.header-nav-list li a.otosia::before {
  background-image: url("../images/otosia@2x.png");
}

.header-nav-list li a.merdeka::before {
  background-image: url("../images/merdeka@2x.png");
}

.section-dash {
  display: flex;
  min-height: 100%;
  padding-top: 150px;
}

.section-dash::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff7f4;
  z-index: -1;
}

.section-dash--inside {
  padding-top: 50px;
}

.section-dash--inside::after {
  display: none;
}

.section-dash .container {
  flex: 1;
  background-color: #FFFFFF;
}

.section-dash .container-inner {
  display: flex;
  justify-content: space-between;
  flex-flow: column;
  margin-left: auto;
  margin-right: auto;
  max-width: 360px;
  min-height: 100%;
}

.section-dash .container-inner-navbar {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60px;
  margin-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
}

.section-dash .container-inner-navbar h6 {
  font-size: 20px;
  font-weight: 600;
}

.section-dash .container-inner-navbar .arrowback {
  position: absolute;
  left: 0;
  width: 50px;
  display: flex;
  align-items: center;
  height: 60px;
}

.section-dash .container-inner-navbar .arrowback::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  background-image: url("../images/back-button.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 9px;
  height: 16px;
}

.section-dash .container-inner-body {
  flex: 1;
  padding-bottom: 30px;
}

.section-dash .container-inner-body .profile {
  margin-top: -75px;
}

.section-dash .container-inner-body .profile-top {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.section-dash .container-inner-body .profile-top-img {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
}

.section-dash .container-inner-body .profile-top-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-dash .container-inner-body .profile-top-tittle {
  font-size: 16px;
  margin-top: 15px;
}

.section-dash .container-inner-body .profile-top-tittle small {
  display: block;
  font-size: 12px;
  color: #8b8b8b;
}

.section-dash .container-inner-body .profile-body {
  margin-top: 60px;
}

.section-dash .container-inner-body .profile-body-nav li {
  border-top: 1px solid #e2e2e1;
}

.section-dash .container-inner-body .profile-body-nav li:first-child {
  border-top: 0;
}

.section-dash .container-inner-body .profile-body-nav li a {
  position: relative;
  display: block;
  font-size: 16px;
  padding: 20px 0;
  padding-right: 40px;
}

.section-dash .container-inner-body .profile-body-nav li a::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
  margin-top: -10px;
}

.section-dash .container-inner-body .profile-body-nav li a.iconprofil::after {
  background-image: url("../images/profil-icon.svg");
}

.section-dash .container-inner-body .profile-body-nav li a.iconsetting::after {
  background-image: url("../images/setelan-icon.svg");
}

.section-dash .container-inner-body .profile-body-nav li a.iconlogout::after {
  background-image: url("../images/keluar-icon.svg");
}

.section-dash .container-inner-footer .copyright, .footer .container .footer-copyright {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  font-size: 10px;
  color: #8b8b8b;
}

.section-dash .container-inner-footer .copyright a, .footer .container .footer-copyright a {
  color: #ff3300;
}

.form-edit .form-button {
  margin-top: 30px;
}

.form-edit .form-file {
  position: relative;
  display: table;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.form-edit .form-file-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 2;
  cursor: pointer;
}

.form-edit .form-file-img {
  position: relative;
}

.form-edit .form-file-img::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #ff3300;
  background-image: url("../images/edit-foto-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 14px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.form-edit .form-file-img-inner {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
}

.form-edit .form-file-img-inner img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.form-edit .form-file-label {
  display: block;
  font-size: 12px;
  margin-top: 10px;
}

.form-edit .form-box-title {
  color: #333333;
  text-align: left;
  font-size: 16px;
}

.form-edit .form-control {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.form-edit .form-control[type=password] {
  padding-right: 40px;
}

.form-edit .form-group label.error {
  visibility: visible;
}

.form-edit .form-group-field .form-label {
  left: 0;
  padding-left: 0;
  padding-right: 0;
}

.form-edit .form-group-field .form-visibilitypass {
  right: 0;
}

.form-edit .form-group.has-error .pk-field {
  border-width: 2px;
  border-color: #dc3545;
  color: #dc3545 !important;
}

.pk-modal,
.picker-dialog {
  width: 280px;
  -webkit-transform: translate(-50% -50%) scale(0.8);
  transform: translate(-50%, -50%) scale(0.8);
  border-radius: 12px;
  background-color: #FFFFFF;
}

.pk-modal.-show,
.picker-opened > .picker-dialog {
  -webkit-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
}

.pk-modal .close,
.picker-close,
.popup-inner-close {
  position: absolute;
  background-image: url("../images/close-button-popup.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  text-indent: -999999px;
  width: 12px;
  height: 12px;
  top: 23px;
  right: 20px;
}

.pk-modal .head,
.picker-title {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.pk-overlay {
  background-color: rgba(0, 0, 0, 0.2);
}

.pk-modal {
  top: 50%;
  transition: transform .5s ease;
}

.pk-modal.-show {
  box-shadow: none;
}

.pk-modal .pk-search {
  padding: 5px 15px;
}

.pk-modal .pk-search > input {
  font-family: "Acumin Pro", sans-serif;
  margin: 0;
  width: 100%;
  border-color: #e2e2e1;
  font-size: 14px;
  padding: 8px 10px;
  border-radius: 8px;
}

.pk-modal .head {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.pk-modal .main {
  padding: 5px 0;
}

.pk-modal .main .pk-no_result_search {
  padding: 15px 20px;
}

.pk-modal .main .pk-option {
  width: 100%;
  padding: 15px 20px;
  border-bottom: 0;
}

.pk-modal .main .pk-option.-selected::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 20px;
  background-image: url("../images/check-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 12px;
  height: 12px;
  margin-top: -8px;
}

.pk-modal .main .pk-option.-selected .txt {
  color: #333333;
}

.pk-modal .main .pk-option .txt {
  letter-spacing: normal;
  font-size: 16px;
  color: #cccccc;
}

.pk-form {
  float: none !important;
  overflow: hidden;
  margin: 0;
}

.pk-form .pk-control {
  display: block !important;
  visibility: hidden;
  width: 0;
  height: 0;
  overflow: hidden;
}

.pk-form .pk-field {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  border-radius: 0;
  height: 52px;
  display: flex;
  align-items: center;
  width: 100%;
  border: 0;
  border-bottom: 1px solid #e2e2e1;
}

.pk-form .pk-arrow {
  background-image: url("../images/drop-down-button.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 10px;
  height: 10px;
  right: 0;
  top: 50%;
}

.pk-form .pk-arrow::before {
  display: none;
}

.pk-form ~ .form-label {
  top: -6px;
  font-size: 11px;
  color: #8b8b8b;
}

.picker-cancel {
  display: none;
}

.picker-dialog {
  top: 50% !important;
  left: 50% !important;
  bottom: auto !important;
  right: auto !important;
  transition: all .5s ease !important;
  border: 0;
}

.picker-header {
  padding: 20px;
  border-bottom: 0;
}

.picker-header .picker-title {
  line-height: normal;
}

.picker-item {
  padding: 8px 10px;
  color: #cccccc;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.picker-item.picker-picked {
  color: #333333;
}

.picker-cell {
  border-left: 0 !important;
}

.picker-cell::after, .picker-cell::before {
  display: none;
}

.picker-body {
  position: relative;
}

.picker-body::before {
  content: "";
  position: absolute;
  left: 15px;
  right: 15px;
  top: 50%;
  height: 50px;
  border-top: 1px solid #e2e2e1;
  border-bottom: 1px solid #e2e2e1;
  pointer-events: none;
  margin-top: -25px;
}

.picker-footer {
  padding: 20px;
  border-top: 0;
}

.picker-footer .picker-confirm {
  width: 100%;
}

.framepopup .framepopup-close {
  display: block;
}

.framepopup-close {
  position: absolute;
  right: 20px;
  top: 20px;
  background-image: url("../images/close-button-frame.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
  display: none;
}

.framepopup .popup {
  background-color: transparent;
}

.framepopup .popup-inner-box {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

html.overflow .framepopup .main .container * {
  filter: grayscale(1);
  opacity: .6;
}

@media (min-width: 360px) {
  .form-control {
    padding-left: 20px;
    padding-right: 20px;
  }
  .form-group-code .pincode-container .form-control {
    font-size: 40px;
  }
  .pk-modal,
  .picker-dialog {
    width: 320px;
  }
}

@media (min-width: 768px) {
  html.navoverflow {
    overflow: auto;
  }
  .header-nav {
    position: absolute;
    left: auto;
    bottom: auto;
  }
  .header-nav-list {
    min-width: 257px;
    box-shadow: 0 5px 8px 0 rgba(52, 52, 52, 0.08);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
  }
  .header-nav-list li a {
    padding-left: 30px;
  }
  .section-sso-top {
    padding-left: 20px;
    padding-right: 20px;
  }
  .section-profile .container {
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
  }
  .pk-modal,
  .picker-dialog {
    width: 360px;
  }
  .framepopup .section-sso .container {
    border-radius: 12px;
    box-shadow: 0 8px 40px 0 rgba(0, 0, 0, 0.04);
  }
}